/* Individual item */
.bm-item {
  font-size: 1em;
  display: block;
  color: rgb(126, 126, 126);
  text-decoration: none;
  margin: 0.4rem 0.5rem;
  padding-left: 1rem;
  font-weight: 500;  
  letter-spacing: 1px; 
  text-transform: capitalize;
}
.bm-item:hover{
  border-left: 2px solid #1133f3;
  color: rgb(73, 73, 73);
}