.footer-school-style {
    margin-top: 2rem;
    background-color: rgb(95, 98, 100) !important;
    color: rgb(255, 255, 255) !important;
    height: auto !important;
    z-index: 200;
}
.logo-footer-school {
    height: 200px;
}
.link-somos-mas-text {
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.social-icon-container a  {
    margin: 0 0.5rem;
    color: whitesmoke !important;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}
.social-icon-container a span {
    font-size: 20px;
    margin-left: 0.3rem;
}
.social-icon-container a:hover  {
    color: #0e7fe1 !important ;
}
.link-footer-active{
    color: #0e7fe1;
}
.campaings-links-container li {
    list-style: none;
    position: relative;
    padding: 0 20px;
    height: 100%;
    display: flex;
}
.campaings-links-container li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 5px 1px;
    z-index: 1;
    transition: all 0.5s;
}

.campaings-links-container li::after {
    content: "";
    position: absolute;
    height: 5%;
    width: 0;
    color: white !important;
    background-color: #0e7fe1;
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
}
.campaings-links-container li:hover:before,
li:hover::after {
    width: 100%;
}
