.logo-header-toys {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.text-eslogan {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: rgba(37, 34, 34);
  text-transform: uppercase;
  word-spacing: 2px;
}

.bkg-header {
  background-color: rgb(95, 158, 160);
  transition: background-color 0.5s;
}

@media screen and (min-width:1400px) {
  .bkg-header {
    transition: background-color 0.5s;
    background-color: rgba(95, 158, 160, 0.445);
  }
}
  
