.footer-ong{
    background-color:#9AC9FB;
    padding: 20px;
}
.image-logo{
    object-fit: contain;
    width: 200px;
    height: 200px;
}
.title-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.icon-item{
    margin: 10px;
    width: 30px;
    height: 30px;
    text-align: left;
}
.link-item{
    font-size: larger;
    font-weight: bold;
    color: #000;
    text-align: middle;
    text-decoration: none;
    margin-top: 5px;
    
}
