.card-img {
  width: 286px;
  height: 180px;
}

.empty-image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 286px;
  height: 180px;
  background-color: gray;
  color: white;
}
