.cont-news .row .title-news{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 70px;
}
.cont-news .row .title-news h3{
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -1.5%;
    font-weight: 400;
}

.cont-btn{
    margin-top: 65px;
}
.cont-btn .btn-news{
    display: flex;
    justify-content: center;
}
.cont-btn .btn-news button{
    font-weight: 500;
    font-size: 15px;
    line-height: 18,29px;
    letter-spacing: -1.5%;
    text-align: center;
}
