.header {
  width: auto;
  height: 60px;
}
.link-item {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .image-logo {
    width: 5rem;
    height: 5rem;
  }
  .link-item {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1rem;
  }
}
