.list-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.card-info{
    list-style: none;
    background-color: #A1D4F6;
    border-radius: 5px;
    min-width: 18rem;
    margin-bottom: 20px;
}
.card-info:hover{
    cursor: pointer;
    background-color: #61BBF8;
}
.card-width{
    max-width: 540px;
}
.icon-social-media  {
    font-size: 2rem;
}
.description-text {
    text-align: justify;
    word-spacing:0px;
}