.form-container{
    width: 60%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input-field{
    padding: 15px 30px;
    border: 1px solid #c1c1c1;
}

.input-field:focus {
    outline: 0;
    border: 1px solid #0e7fe1;
    box-shadow: inset 0px 0px 3px 1px rgba(211, 211, 211, 0.548);
}
.select-field{
    padding: 10px;
    border: 1px solid #c1c1c1;
}

.submit-btn{
    background-color: #2E86C1;
    padding: 10px 15px;
    border: none;
    color: #fff;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: #3498DB;
}

.img-member {
    width: 150px;
}
.message {
    font-size: 12px;
    margin-top: 5px;
}
.error-message {
    color: red;
}
.success-message {
    color: green;
}
