.card-backoffice-container {
    box-shadow: 2px 2px 6px rgba(53, 53, 53, 0.411);
    border-radius: 0.5rem;
    width: 12rem;
    height: 12rem;
    margin: 2rem;
    transition: 0.4s;
}

.card-backoffice-container:hover {
    transform: scale(1.05);
}

.link-path-style {
    background-color: #0e7fe1;
    font-size: 15px;
    color: white;
    border-radius: 0.2rem;
    transition: 0.3s;
}

.link-path-style a {
    color: white !important;
    font-weight: 500;
    text-decoration: none;
    padding: 0.7rem;
}

.link-path-style:hover {
    background-color: #65adec;
}

.icon-card-style {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.title-card-style {
    color: #0e7fe1;
}
