.slide-image {
  aspect-ratio: 16 / 9;
  height: 75vh;
  object-fit: cover;
}
.slide-name {
  display: block;
  text-align: center;
  color: black;
}

.slide-description {
  display: none;
  color: black;
}
@media (min-width: 768px) {
  .slide-name {
    display: block;
    text-align: start;
  }
  .slide-description {
    display: block;
    text-align: start;
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators {
  bottom: -50px;
}
