.content-container{
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%; 
    padding:5vw;   
}
.content-container-date-image{
    display: flex;
    align-items: center; 
}
.content-container-image{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content-date{
    font-family: serif;
    font-size: 2.5rem;
}
.content-Countdown{  
    display: none;
}
.content-descriptin{
    line-height:1.3rem;
    text-align: left;
}
.content-image{
    width: 120px;
    height: auto;
    margin: 25px;    
}
.content-image img{  
    display: none;
}
.content-image-rotate-27{
    /* Rotate div */
    -ms-transform: rotate(27deg); /* IE 9 */
    -webkit-transform: rotate(27deg); /* Chrome, Safari, Opera */
    transform: rotate(27deg);
}
.content-image-rotate-reverse-27{
    /* Rotate div */
    -ms-transform: rotate(27deg); /* IE 9 */
    -webkit-transform: rotate(-27deg); /* Chrome, Safari, Opera */
    transform: rotate(-27deg);
}

@media  screen and (min-width: 426px) { 
    .content-Countdown{
        font-size: 2rem;
        font-weight: 400;
        display: flex;
    }
}
@media  screen and (min-width: 769px) { 
    .content-image img{
        width: 100%;
        height: auto;
        display: flex;
    }
}
@media  screen and (min-width: 1441px) {     
    .content-container{       
        background-color: rgba(0, 132, 255, 0.027);
    }
}