.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.organization {
  border: 1px solid #c1c1c1;
}

.org-field {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  padding: 0 100px 0 100px;
}

.submit-btn {
  width: 100%;
}
